.container {
  display: flex;
  align-items: center;
}

.picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  min-height: 100vh;
  margin-top: 100px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  min-height: 100vh;
  width: 800px;
  color: white;
  text-align: justify;
  padding-left: 50px;
}

.img {
  height: 550px;
  border: 3px solid white;
}

.price {
  font-size: 25px;
  background-color: rgb(90, 95, 100);
  padding: 10px;
  border: 1px solid white;
}

.button {
  width: 150px;
  font-size: 20px;
  padding: 5px;
  border: none;
  margin: 15px;
}

.button:hover {
  transform: scale(1.1);
  background-color: rgb(90, 95, 100);
  border: none;
  color: white;
  cursor: pointer;
}
