.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    padding: 20px;
    width: 500px;
    justify-content: center;
    height: 400px;
    background-image: url('pictures/black-patterned-texture-431613736816.jpg');
    color: white;
    border-radius: 15px;
    font-size: 20px;
}